TABLEFORTWO_POSTGRES_USER=table_for_two
TABLEFORTWO_POSTGRES_PASSWORD=table_for_two
TABLEFORTWO_POSTGRES_DEV_DB=table_for_two_dev
TABLEFORTWO_POSTGRES_TEST_DB=table_for_two_test
TABLEFORTWO_POSTGRES_PORT=5432

TABLEFORTWO_MAILPIT_SMTP_PORT=1025
TABLEFORTWO_MAILPIT_UI_PORT=8025

TABLEFORTWO_MINIO_ENABLED=false
TABLEFORTWO_MINIO_PORT=9000
TABLEFORTWO_MINIO_CONSOLE_PORT=9001
TABLEFORTWO_MINIO_ROOT_USER=minioadmin
TABLEFORTWO_MINIO_ROOT_PASSWORD=minioadmin
